.box{
		border: 1px solid #ccc;
		margin: 100px auto;
		width: 400px;
		height: 200px;
	}
	.title{
		text-align: center;
		
	}
	.input{
		text-align: center;
	}
	.input input{
		margin-left: 20px;
		color:#ccc;
	}
	.select{
		margin-top:10px;
		text-align: center;
	}
	.select select{
		width: 173px;
		height: 23px;
	}
	.btn{
		margin:20px auto;
		text-align:center;
	}